@model EnquireNowComponent


    <div class="modal fade" id="enquireNowModal" tabindex="-1" aria-labelledby="enquireNowModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="enquireNowModalLabel">ENQUIRE NOW</h5>
                </div>
                <form method="post">
                    <input asp-for="TourName" type="hidden" />
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-outline mb-4">
                                        <input asp-for="Name" class="form-control" aria-required="true" />
                                        <label asp-for="Name" class="form-label"></label>
                                    </div>
                                    <span asp-validation-for="Name" class="travaloud-validation"></span>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-outline mb-4">
                                        <input asp-for="Email" class="form-control" aria-required="true" />
                                        <label asp-for="Email" class="form-label"></label>
                                    </div>
                                    <span asp-validation-for="Email" class="travaloud-validation"></span>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-outline mb-4 datepicker-disable-past position-relative" data-mdb-toggle-button="false" data-mdb-format="dd/mm/yyyy">
                                        <input asp-for="Date" type="text" class="form-control" data-mdb-toggle="datepicker" />
                                        <label asp-for="Date" class="form-label"></label>
                                    </div>
                                    <span asp-validation-for="Date" class="travaloud-validation"></span>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-outline mb-4">
                                        <input asp-for="NumberOfPeople" class="form-control" aria-required="true" />
                                        <label asp-for="NumberOfPeople" class="form-label"></label>
                                    </div>
                                    <span asp-validation-for="NumberOfPeople" class="travaloud-validation"></span>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-outline">
                                        <textarea class="form-control" asp-for="AdditionalInformation" rows="4"></textarea>
                                        <label class="form-label" asp-for="AdditionalInformation"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary me-auto" data-mdb-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>