@model LoginModalComponent
@inject SignInManager<ApplicationUser> SignInManager

@if (!SignInManager.IsSignedIn(User))
{
    <div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-5 bg-light">
                <button type="button" class="btn-close ms-auto" data-mdb-dismiss="modal" aria-label="Close"><i class="fa fa-xmark"></i></button>
                <div class="modal-body p-0 text-center">
                    <h2 id="logInModalLabel" class="mb-3 display-5">SIGN IN</h2>
                    <p class="book-now-login-titles small text-muted">Stayed with us before?<br />Sign in for a faster checkout.</p>
                    <form method="post" id="loginModalForm" asp-page-handler="SignIn">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input asp-for="Email" class="form-control" />
                                        <label asp-for="Email" class="form-label"></label>
                                    </div>
                                    <span asp-validation-for="Email" class="travaloud-validation"></span>
                                </div>
                                <div class="col-lg-12">
                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input asp-for="Password" class="form-control" />
                                        <label asp-for="Password" class="form-label"></label>
                                    </div>
                                    <span asp-validation-for="Password" class="travaloud-validation"></span>
                                </div>
                                <!-- 2 column grid layout for inline styling -->
                                <div class="row mb-4">
                                    <div class="col d-flex justify-content-start">
                                        <!-- Checkbox -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" asp-for="RememberMe" style="margin-top:7px" />
                                            <label class="form-check-label small" asp-for="RememberMe"> Remember me?</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" asp-for="ReturnUrl" />

                        <!-- Submit button -->
                        <button type="submit" id="loginModalButton" class="btn btn-primary btn-block">Sign in</button>
                    </form>
                    <p class="small pt-5 pb-2">Not a member? <button class="text-purple text-decoration-underline" data-mdb-toggle="modal" data-mdb-target="#registerModal" aria-label="Create an account" formnovalidate="formnovalidate" type="button">Create an account</button></p>
                    <button class="small mt-5 pb-2 text-purple text-decoration-underline book-now-login-titles" data-mdb-dismiss="modal" aria-label="Check out as a guest">Check out as a guest</button>
                </div>
            </div>
        </div>
    </div>
}
