@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;

    if (httpContext != null)
    {
        var currentPath = httpContext.Request.Path.Value != null ? httpContext.Request.Path.Value : "/";

        <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-lg-center">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item dropdown mt-4 mt-lg-0 mb-lg-0">
                    <a class="nav-link d-none d-lg-block dropdown-toggle @(currentPath.Contains("/my-account") ? "active" : "" )" id="navbarDropdownMyAccount" role="button" aria-expanded="false" aria-haspopup="true">MY ACCOUNT</a>

                    <ul class="dropdown-menu" style="right:1rem; left:unset;">
                        <li class="dropdown-item text-dark float-end">
                            <a class="nav-link p-0 m-0 text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Manage</a>
                        </li>
                        <li class="dropdown-item text-dark float-end">
                            <a class="nav-link p-0 m-0 text-dark" asp-area="Identity" asp-page="/Account/Manage/Bookings">My Bookings</a>
                        </li>
                        <li class="dropdown-item text-dark float-end">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="m-0 bg-transparent border-0 text-dark nav-link p-0" aria-label="Logout">
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>

                    <div class="accordion accordion-flush accordion-borderless d-lg-none d-block" id="myAccountAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="myAccountAccordionHeading">
                                    <button class="accordion-button collapsed @(currentPath.Contains("/my-account") ? "active" : "" )" data-mdb-toggle="collapse" data-mdb-target="#myAccountAccordionCollapse" aria-expanded="false" aria-controls="myAccountAccordionCollapse" type="button">
                                        MY ACCOUNT <i class="fa-solid fa-caret-down ms-3"></i>
                                    </button>
                                </h2>
                                <div id="myAccountAccordionCollapse" class="accordion-collapse collapse" aria-labelledby="myAccountAccordionHeading" data-mdb-parent="#myAccountAccordion">
                                    <div class="accordion-body mt-2 mb-1">
                                        <ul>
                                            <li class="nav-item mb-0">
                                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Manage</a>
                                            </li>
                                            <li class="nav-item mt-4 mb-0">
                                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Bookings">My Bookings</a>
                                            </li>
                                            <li class="nav-item mt-4 mb-0">
                                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                                    <button type="submit" class="nav-link me-lg-2 bg-transparent border-0" aria-label="Logout">
                                                        Logout
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>

                <li class="nav-item mt-4 mt-lg-0">
                    <button class="btn btn-primary mb-1 pe-5 ps-5 d-none d-lg-block" data-mdb-toggle="modal" data-mdb-target="#bookNowModal" aria-label="Book">Book</button>
                    <button class="nav-link mb-1 p-0 d-block d-lg-none bg-transparent text-start border-0" data-mdb-toggle="modal" data-mdb-target="#bookNowModal" aria-label="Book">BOOK</button>
                </li>
            }
            else
            {
                <li class="nav-item mt-4 mt-lg-0">
                    <button class="nav-link me-lg-2" data-mdb-toggle="modal" data-mdb-target="#logInModal" aria-label="Sign In">SIGN IN</button>
                </li>
                <li class="nav-item mt-4 mt-lg-0">
                    <button class="btn btn-primary mb-1 ms-lg-3 pe-5 ps-5 d-none d-lg-block" aria-label="Book" data-mdb-toggle="modal" data-mdb-target="#bookNowModal">Book</button>
                    <button class="nav-link mb-1 p-0 d-block d-lg-none bg-transparent text-start border-0" aria-label="Book" data-mdb-toggle="modal" data-mdb-target="#bookNowModal">BOOK</button>
                </li>
            }
        </ul>
    }
}
