@page "/my-account/download-personal-data"
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download My Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="container pt-8 pb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 has-parallax-scroll">
            <h3>@ViewData["Title"]</h3>

        </div>
    </div>
</div>